<html>
<head>
	<title>Modification du potin</title>
</head>
<body>
	<form action="/gossips/<%= id%>/edit/" method="POST">
		<h4>Saisier votre nouveau potin: <input type="text" name="new_gossip_content"/></h4>
	<input type="submit">	
	</form>
	<a href="/">Revenir en arrière</a>
</body>
</html>